.App {
  text-align: center;
}

body { padding-top: 70px; }
/*
.media {
  background-color: #d2dff4
}
*/
.score {
  height: 100%;
  width: 100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0;         /* remove the gap between inline(-block) elements */
}
.jumbotron-home {
  /*padding-top: 20px; */
  margin-top: 40px
}

.comment {
  border-bottom: 1px solid #000;
  padding: 10px 15px;
}

.comment p {
  font-size: 14px;
}

.comment p.user, p.timestamp {
  font-family: "Courier New", Courier, monospace;
}

.comment p.timestamp {
  font-size: 10px;
  /*color: #aaa;*/
  margin-top: 10px;
  text-align: right;
}

.comment-div {
  /*
  background-color: #4A90E2;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  */
  /*width: 200px;*/
  box-sizing: border-box;
  margin: 20px auto; /* Vertical  Horizontal */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.album {
  background-color: lightgray;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
